{% extends 'leave_management/index.html' %}
{% load static %}
{% block content%}

<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Extend Leave</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="card card-primary card-outline">
                  <div class="card-header p-2">
                      <div class="row">
                          <div class="col-10">
                            <h2 class="card-title pt-1">
                             Extend Leave
                            </h2>
                          </div>
                      </div>
                  </div>
                <div class="card-body px-2">
                    <div class="col-md-8 m-auto">
                        <div class="card">
                             <div class="card-header p-1 bg-primary">
                                <h2 class="card-title pt-1">
                                    Extend Leave Form
                                </h2>
                             </div>
                            <div class="card-body">
                                <form class="needs-validation"   id="leaveForm" method="post" action=" " autocomplete="off" enctype="multipart/form-data">
                                    {% csrf_token %}

                                  <div class="form-group row">
                                        <div class="col-md-6 pr-3 pl-3 mb-2">
                                           <label for="validationCustom01">Employee name</label>
                                            <input type="text" class="form-control" name="employee_name" id="employee_name" placeholder="Employee Name" value="{{extend_leave.employee_name}}" required readonly>

                                        </div>
                                       <div class="col-md-6 pr-3 pl-3 mb-2">
                                            <label for="date">Application Date</label>
                                            <input   class="form-control" id="current_Date" name="current_date" readonly>
                                       </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                          <label for="leave_type">Leave Type :</label>
                                          <input  class="form-control" value="{{extend_leave.leave_type.leave_name}}" readonly>
                                          <input type="hidden"  id="leave_type" name="leave_type" class="form-control"  value="{{extend_leave.leave_type_id}}" >
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                          <label for="remaining_leave">Remaining Leave</label>
                                          <input type="text" class="form-control" name="remaining_leave" id="remaining_leave" placeholder="Remaining Leave" value="{{extend_leave.remaining_leave}}" readonly>
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                          <label for="date">Previous From Date</label>
                                          <input class="form-control" value="{{extend_leave.from_date}}">
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2 date_field" >
                                          <label for="date">Previous Till Date</label>
                                          <input class="form-control" value="{{extend_leave.till_date}}">
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2 date_field" >
                                            <label for="date">From Date</label>
                                            <input type="text"  class="form-control" id="from_date" name="from_date"  onchange ="daysDifference()" placeholder="dd-mm-yyyy"  required>
                                            <span for="date">Total leave applied for days </span> <spsn style="color:32A80F" id="result" class="total_taken_leave" name="total_taken_leave"  ></spsn>
                                            <input type="hidden" name="total_taken_leave" id="total_taken_leave">

                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2 date_field" >
                                          <label for="date">Till Date</label>
                                          <input type="text" onload="getDate()" class="form-control" id="till_date" name="till_date" onchange ="daysDifference()" placeholder="dd-mm-yyyy"  required>
                                      </div>
<!--                                      <div class="col-md-6 pr-3 pl-3 mb-2 date_field" >-->
<!--                                            <span for="date">Total leave applied for days </span> <spsn style="color:32A80F" id="result" class="total_taken_leave" name="total_taken_leave"  ></spsn>-->
<!--                                            <input type="hidden" name="total_taken_leave" id="total_taken_leave">-->
<!--                                      </div>-->

                                      <!--<div class="col-lg-6 pr-3 pl-3 mb-2">-->
                                      <!--    <label for="full_day" class="mr-2">Full Day </label>-->
                                      <!--     <input type="radio"  name="day" id="full_day" value="1">-->
                                      <!--     <label for="half_day" class="mr-2">Half Day </label>-->
                                      <!--     <input type="radio"  name="day" id="half_day" value="0.5">-->
                                      <!--</div>-->
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                           <label for="remark">Subject</label>
                                           <input type="text" class="form-control" name="subject" id="subject" placeholder="subject" value="{{extend_leave.subject}}" >
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                            <label for="myfile">Attachment</label>
                                            <input type="file" id="myfile" name="myfile" class="form-control" accept="application/pdf">
                                            <span id="error-message" class="validation-error-label"></span>
                                      </div>

                                     <input type="hidden" name="status" value="pending" id="status">


                                      <div class="col-md-12 pr-3 pl-3 mt-3">
                                          <div class="row" style="float:right">
                                              <div class="col-lg-6">
                                                    <button class="btn btn-primary"  type="submit">Apply</button>
                                              </div>
                                              <div class="col-lg-6" style="">
                                                    <a href="" class="btn btn-primary"  onclick="window.location.reload">Reset</a>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>


<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!--This is the script for from_date where previous day is disable from current day to 14 previous day. -->

<script>
$(function() {
  var holidays ={{holiday_list|safe}};
  function noSundaysOrHolidays(from_date) {
    var day = from_date.getDay();
    if (day != 0) {
      var d = from_date.getDate();
      var m = from_date.getMonth();
      var y = from_date.getFullYear();
      for (i = 0; i < holidays.length; i++) {
        if($.inArray((d) + '-' + (m+1) + '-' + y, holidays) != -1) {
          return [false];
        }
      }
      return [true];
    } else {
      return [day != 0, ''];
    }
  }

  $('#from_date').datepicker({
    onClose: function(dateText, inst) {
        $(this).attr("disabled", false);
    },
    beforeShow: function(input, inst) {
      $(this).attr("disabled", true);
    },
    beforeShowDay: noSundaysOrHolidays,
    minDate: -14,
    dateFormat: 'dd-mm-yy',
  });
});
</script>

<!--This is the script for till_date where previous day is disable from current day to 14 previous day. -->
<script>
$(function() {


    var holidays = {{holiday_list|safe}};

  function noSundaysOrHolidays(till_date) {
    var day = till_date.getDay();
    if (day != 0) {
      var d = till_date.getDate();
      var m = till_date.getMonth();
      var y = till_date.getFullYear();
      for (i = 0; i < holidays.length; i++) {
        if($.inArray((d) + '-' + (m+1) + '-' + y, holidays) != -1) {
          return [false];
        }
      }
      return [true];
    } else {
      return [day != 0, ''];
    }
  }

  $('#till_date').datepicker({
    onClose: function(dateText, inst) {
        $(this).attr("disabled", false);
    },
    beforeShow: function(input, inst) {
      $(this).attr("disabled", true);
    },
    beforeShowDay: noSundaysOrHolidays,
    minDate: -14,
    dateFormat: 'dd-mm-yy',
  });

});
</script>

<script>
$(document).ready(function() {

var startDate;
var endDate;
 $( "#from_date" ).datepicker({
dateFormat: 'dd-mm-yy',
})

 $( "#till_date" ).datepicker({
dateFormat: 'dd-mm-yy',
});

$('#from_date').change(function() {
startDate = $(this).datepicker('getDate');
$("#till_date").datepicker("option", "minDate", startDate );
})


$('#till_date').change(function() {
endDate = $(this).datepicker('getDate');
$("#from_date").datepicker("option", "maxDate", endDate );
})

})
</script>






<!--For current date -->
<script>
var date = new Date();
var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day

document.getElementById('current_Date').value = today;

</script>




<!--Day difference between two datapikcer -->
<script>
function daysDifference() {
         //define two variables and fetch the input from HTML form
         var date1 = document.getElementById("from_date").value ;
         var dateI1 = date1.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");

         var date2 = document.getElementById("till_date").value;
         var dateI2 = date2.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");

         if (dateI2 != ''){

         $.ajax({
                type : "POST",
                url: "{% url 'leave_management:ajax_posting' %}",
                data: {
                 date1 :dateI1,
                 date2 : dateI2,
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",

                },

                success: function(data){
                   document.getElementById("result").innerHTML = data.count ;
                    document.getElementById("total_taken_leave").value = data.count ;
                },

                failure: function() {

                }

            });

         }

         }


</script>





<!--Script for onchange leave type in form so that reamaining leave is display-->
<script>
function LeaveType(leaveval) {


{% for key, value in leave_dict.items %}
if (leaveval == {{key}}) {
  document.getElementById("remaining_leave").value = {{value}};
}
{% endfor%}
};
</script>


<!--Script for validation of file extension and size when file uploaded.-->
<script>

//attaching "change" event to the file upload button
document.getElementById("file").addEventListener("change", validateFile)

function validateFile(){
  const allowedExtensions =  ['jpg','jpeg', 'pdf'],
        sizeLimit = 2097152; // 2 megabyte

  const { name:fileName, size:fileSize } = this.files[0];
  const fileExtension = fileName.split(".").pop();

  if(!allowedExtensions.includes(fileExtension)){
    alert("file type not allowed, Please select pdf, jpeg, jpg file"  );
    this.value = null;
  }else if(fileSize > sizeLimit){
    alert("File too Big, please select a file less than 2 MB"  )
    this.value = null;
  }
}
</script>


{% endblock %}