{% extends 'leave_management/index.html' %}
{% load static %}
{% block content%}


<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Leave Form</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-12 m-auto">
                <div class="card card-primary card-outline">
                  <div class="card-header p-2">
                      <div class="row">
                          <div class="col-10">
                            <h2 class="card-title pt-1">
                             Leave Application Form
                            </h2>
                          </div>
                      </div>
                  </div>
                <div class="card-body px-2">
                  <div class="row">
                      <div class="col-lg-5">
                          <div class="card">
                             <div class="card-header p-1 bg-primary">
                                <h2 class="card-title pt-1">
                                Leave Detail
                                </h2>
                             </div>
                              <div class="card-body">
                                  <table class="table tbl-saperate-row">
                                    <tbody>
                                      <tr class=" bg-gradient-secondary">
                                        <th>Type</th>
                                        <th>PL/EL</th>
                                        <th>ML</th>
                                        <th>C&S</th>
                                        <th>LWP</th>
                                        <th>Special Leave</th>
                                      </tr>
                                      <tr class="bg-success">
                                        <td>Total</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>2</td>
                                      </tr>
                                      <tr class="bg-light">
                                        <td>Availed</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>2</td>
                                      </tr>
                                      <tr class="bg-warning">
                                        <td>Pending</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>2</td>
                                      </tr>
                                      <tr class="bg-info">
                                        <td>Balance</td>
                                        <td>1</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>2</td>
                                      </tr>
                                    </tbody>
                                  </table>
                              </div>
                              <div class="card">


                              </div>
                          </div>
                      </div>
                    <div class="col-md-7">
                        <div class="card">
                             <div class="card-header p-1 bg-primary">
                                <h2 class="card-title pt-1">
                                    Leave Form
                                </h2>
                             </div>
                            <div class="card-body">
                                <form class="needs-validation"   id="leaveForm" method="post" action=" " autocomplete="off" enctype="multipart/form-data" >
                                    {% csrf_token %}

                                  <div class="form-group row">
                                        <div class="col-md-6 pr-3 pl-3 mb-2">
                                            <label for="validationCustom01">Employee name</label><span class="text-danger">*</span>
                                            <input type="text" class="form-control" name="employee_name" id="employee_name" placeholder="Employee Name" value="{{request.user.username}}" required>
                                       </div>
                                       <div class="col-md-6 pr-3 pl-3 mb-2">
                                            <label for="date">Application Date</label><span class="text-danger">*</span>
                                            <input   class="form-control" id="current_Date" name="current_date">
                                       </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                           <label for="leave_type">Leave Type :</label><span class="text-danger">*</span>
                                          <select id="leave_type" name="leave_type" class="form-control" onchange="LeaveType(this.value)">
                                          <option value="" disabled hidden selected>--Select Leave Type--</option>
                                              {% for leave_types in leave_type %}
                                          <option value="{{leave_types.id}}">{{leave_types.leave_name}}</option>
                                          {% endfor %}
                                          </select>
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                          <label for="remaining_leave">Remaining Leave</label><span class="text-danger">*</span>
                                          <input type="text" class="form-control" name="remaining_leave" id="remaining_leave" placeholder="Remaining Leave" value="0">
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2 date_field">
                                          <label for="from_date">From Date</label><span class="text-danger">*</span>
                                              <input type="date"  class="form-control datepickstart" id="from_date" name="from_date"  onchange ="daysDifference()" placeholder="mm-dd-yyyy">
                                              <div class="row day_field">
                                                <div class="col-lg-12 d-flex">
                                                  <div class="col-md-4 mt-2 p-0">
                                                   <label for="from_full_day">Full Day :</label>
                                                   <input type="radio"  name="from_full_day" id="from_full_day" value="1" checked>
                                                  </div>
                                                  <div class="col-md-4 mt-2 p-0">
                                                   <label for="from_first_half">First Half :</label>
                                                   <input type="radio"  name="from_full_day" id="from_first_half" value="0.5">
                                                  </div>
                                                    <div class="col-md-4 mt-2 p-0">
                                                   <label for="from_sec_half">Second Half :</label>
                                                   <input type="radio"  name="from_full_day" id="from_sec_half" value="0.5">
                                                  </div>
                                                </div>
                                          </div>
                                      </div>

                                      <div class="col-md-6 pr-3 pl-3 mb-2 date_field" >
                                          <label for="till_date">Till Date</label><span class="text-danger">*</span>
                                          <input type="date" onload="getDate()" class="form-control" id="till_date" name="till_date" onchange ="daysDifference()" placeholder="mm-dd-yyyy">
                                          <div class="row day_field">
                                                <div class="col-lg-12 d-flex">
                                                  <div class="col-md-4 mt-2 p-0">
                                                   <label for="till_full_day">Full Day :</label>
                                                   <input type="radio"  name="till_day" id="till_full_day" value="1" checked>
                                                  </div>
                                                  <div class="col-md-4 mt-2 p-0">
                                                   <label for="till_first_half">First Half :</label>
                                                   <input type="radio"  name="till_day" id="till_first_half" value="0.5">
                                                  </div>
                                                    <div class="col-md-4 mt-2 p-0">
                                                   <label for="till_sec_half">Second Half :</label>
                                                   <input type="radio"  name="till_day" id="till_sec_half" value="0.5">
                                                  </div>
                                                </div>
                                          </div>

                                      </div>

                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                          <label for="date">Subject</label><span class="text-danger">*</span>
                                          <input type="text"  class="form-control" id="leave_subject" name="leave_subject" >
                                      </div>
                                      <div class="col-md-6 pr-3 pl-3 mb-2">
                                         <label for="myfile">Attachment</label>
                                         <input type="file"  name="myfile" id="file" class="form-control" accept="application/pdf", >
                                         <span id="error-message" class="validation-error-label"></span>
                                      </div>
                                      <div class="col-md-12 pr-3 pl-3 mb-2">
                                          <label for="remark">Reason</label>
                                             <textarea class="form-control" name="remark" id="remark" placeholder=""></textarea>
                                      </div>

                                           <input type="hidden" name="status" value="pending" id="status">


                                      <div class="col-md-12 pr-3 pl-3 mt-3">
                                          <div class="row" style="float:right">
                                              <div class="col-lg-6">
                                                    <button class="btn btn-primary"  type="submit">Apply</button>
                                              </div>
                                              <div class="col-lg-6" style="">
                                                    <a href="" class="btn btn-primary"  onclick="window.location.reload">Reset</a>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>




<!--This date is start from 14 days before,from today's date.-->
<script>

/*$(function() {

   $( "#from_date" ).datepicker({minDate: -14});

  });

$(function() {
    $( "#till_date" ).datepicker({minDate: -14});
  });
*/
</script>


<!--This date is start from today's date.(from-date)-->
<script>
/*
  var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("from_date")[0].setAttribute('min', today);
*/
</script>

<!--This date is start from today's date.(till_date)-->
<script>
/*
   var today = new Date().toISOString().split('T')[0];
    document.getElementsByName("till_date")[0].setAttribute('min', today);
*/
</script>


<!--This is a normal datepicker-->
<script>
/*  function getDate(){
    var today = new Date();

document.getElementById("till_date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

} */
</script>



<!--For current date -->
<script>
var date = new Date();
var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day

document.getElementById('current_Date').value = today;

</script>


<!--Day difference between two datapikcer -->
<script>
function daysDifference() {
         //define two variables and fetch the input from HTML form
         var date1 = document.getElementById("from_date").value ;
         var dateI1 = date1.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");

         var date2 = document.getElementById("till_date").value;
         var dateI2 = date2.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");

         if (date2 != ''){

         $.ajax({
                type : "POST",
                url: "{% url 'leave_management:ajax_posting' %}",
                data: {
                 date1 :dateI1,
                 date2 : dateI2,
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 dataType: "json",

                },

                success: function(data){
                   document.getElementById("result").innerHTML = data.count ;
                    document.getElementById("total_taken_leave").value = data.count ;
                },

                failure: function() {

                }

            });

         }

         }


/*
function daysDifference() {
         //define two variables and fetch the input from HTML form
         var dateI1 = document.getElementById("date").value;
         var dateI2 = document.getElementById("till_date").value;


         if (dateI2 != ''){

         //define two date object variables to store the date values
         var date1 = new Date(dateI1);
         var date2 = new Date(dateI2);

         //calculate time difference
         var time_difference = date2.getTime() - date1.getTime();

         //calculate days difference by dividing total milliseconds in a day
         var result = (time_difference / (1000 * 60 * 60 * 24))+1;

         document.getElementById("result").innerHTML = result ;
         document.getElementById("total_taken_leave").value = result ;
         }

         }*/



</script>



<!--Script for onchange leave type in form so that reamaining leave is display-->
<script>
function LeaveType(leaveval) {


{% for key, value in leave_dict.items %}
if (leaveval == {{key}}) {
  document.getElementById("remaining_leave").value = {{value}};
}
{% endfor%}
};
</script>

<!--Size of the attachment file-->
<script>
/*   function validateSize(input) {
  const fileSize = input.files[0].size / 1024 ; // in MiB
  if (fileSize > 1) {
    alert('File size exceeds 1 MiB');
    // $(file).val(''); //for clearing with Jquery
  } else {
    // Proceed further
  }
}
*/
</script>

<script>
var uploadField = document.getElementById("file");

uploadField.onchange = function() {
    if(this.files[0].size > 1048576){
       alert("File is too big!");
       this.value = "";
    };
};

</script>



{% endblock %}