{% extends 'leave_management/index.html' %}
{% load static %}
{% block content%}


<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">My Leave Balance</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
<!--              <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--              <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>-->
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    <!-- /.content-header -->



<!--stylesheet of table	-->
<style>
      .tableFixHead {
        overflow-y: auto;
        height: 250px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        padding: 8px 16px;
        border: 1px solid #ccc;
      }
      th {
        background: #eee;
      }
    </style>


    <p>Leave Type</p>
            <div class="tableFixHead ">
				<table class="table table-striped table-responsive-md btn-table">
					<thead>
						<th>Leave Name</th>
						<th>Leave Per Year</th>
						<th>Leave Remaining</th>


					</thead>
					{% if leave_balance %}
					<tbody>
						{% for i in leave_balance %}

						<tr>
							<td>{{i.leave_name.leave_name}}</td>
							<td>{{i.leave_name.leave_per_year}}</td>
							<td>{{i.leave_remaining}}</td>

						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<tbody>
						{% for i in leave_type %}

						<tr>
							<td>{{i.leave_name}}</td>
							<td>{{i.leave_per_year}}</td>
							<td>{{i.leave_per_year}}</td>

						</tr>
						{% endfor %}
					</tbody>
					{% endif %}
				</table>
			</div>



</div>

{% endblock %}