{% extends 'leave_management/index.html' %}
{% load static %}
{% block content%}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Leave Balance</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
		<div class="row">
		  <div class="col-12">
               <div class="card card-outline card-primary">
              <div class="card-header py-2">
                <h3 class="card-title">Leave Type</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
				  <table class="table table-striped">
					  <thead>
						<th>S.no</th>
						<th>Leave Name</th>
						<th>Leave Per Year</th>
						<th>Leave Remaining</th>

					  </thead>
						{% if leave_balance %}
					  <tbody>
							{% for i in leave_balance %}

							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{i.leave_name.leave_name}}</td>
								<td>{{i.leave_name.leave_per_year}}</td>
								<td>{{i.leave_remaining}}</td>

							</tr>
							{% endfor %}
					  </tbody>
						{% else %}
					  <tbody>
							{% for i in leave_type %}

							<tr>
								<td>{{i.leave_name}}</td>
								<td>{{i.leave_per_year}}</td>
								<td>{{i.leave_per_year}}</td>

							</tr>
							{% endfor %}
					  </tbody>
						{% endif %}
					</table>
			  </div>
			  </div>
		  </div>
	  </div>
	</div>
</div>


{% endblock %}