{% extends 'leave_management/index.html' %}
{% load static %}
{% block content%}
<!-- we aslo have expended datatable library-->
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Leave Record</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
		<!--<div class="row">-->
		<!--  <div class="col-12">-->
		<!--    <div class="card card-outline card-primary">-->
  <!--            <div class="card-header py-2">-->
  <!--              <h3 class="card-title">Filter</h3>-->

  <!--              <div class="card-tools">-->
  <!--                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>-->
  <!--                </button>-->
  <!--              </div>-->
                <!-- /.card-tools -->
  <!--            </div>-->
              <!-- /.card-header -->
  <!--            <div class="card-body">-->
		<!--		 <form method="post" id="leave_record_filter" >-->
		<!--		{% csrf_token %}-->


		<!--			<div class="form-row">-->
		<!--				<div class="col-md-3 mb-3">-->
		<!--					 <label for="leave_type">Leave Name</label>-->
		<!--					  <select id="leave_type" name="leave_type" class="form-control"  value="{{request.POST.leave_type}}">-->
		<!--					  <option value="" disabled hidden selected>--Select Leave Name--</option>-->
		<!--						  {% for leave_types in leave_type %}-->
		<!--					  <option value="{{leave_types.id}}">{{leave_types.leave_name}}</option>-->
		<!--					  {% endfor %}-->
		<!--			  </select>-->

		<!--				</div>-->

		<!--				<div class="col-md-3 mb-3">-->
		<!--					<label for="date">From Date</label>-->
		<!--					<input type="date" class="form-control" id="from_date" name="from_date">-->
		<!--				</div>-->

		<!--				<div class="col-md-3 mb-3">-->
		<!--					<label for="date">To Date</label>-->
		<!--					<input type="date" class="form-control" id="to_date" name="to_date">-->
		<!--				</div>-->
		<!--				<div  class="col-md-3 mb-3 pt-4 mt-1 text-right">-->
		<!--					<button class="btn btn-primary" style="border-radius:20px;" type="submit">Search</button>-->
		<!--					<a href="" class="btn btn-primary" style="border-radius:20px;color:#fff;font-weight:600;" onclick="window.location.reload">Clear</a>-->
		<!--				</div>-->
		<!--			</div>-->

		<!--		</form>-->
  <!--            </div>-->
              <!-- /.card-body -->
  <!--          </div>-->
	 <!-- 	  </div>-->
	 <!-- </div>-->
<!--	  <div class="row">-->
<!--		  <div class="col-12">-->
<!--             <div class="card">-->
<!--              <div class="card-header py-2">-->
<!--                <h3 class="card-title">Employee Leave Record (for admin)</h3>-->
<!--                &lt;!&ndash; /.card-tools &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--              <div class="card-body">-->
<!--					<div class="tableFixHead expendtbl">-->
<!--			&lt;!&ndash;	<button id="btn-show-all-doc">Expand / Collapse</button>&ndash;&gt;-->
<!--						<table  class="expend-datatable display nowrap " style="width:100%; font-size: 14px;">-->
<!--						  <thead>-->
<!--							<tr>-->
<!--							  <th>Detail</th>-->
<!--							  <th class="all">Name</th>-->
<!--							  <th class="all">Designation</th>-->
<!--							  <th class="all">Leave Type</th>-->
<!--							  <th class="all">Application Date</th>-->
<!--							  <th class="all">From Date</th>-->
<!--							  <th class="all">To Date</th>-->
<!--							  <th class="none">Status</th>-->
<!--							  <th class="none">Leave withdraw</th>-->
<!--							  <th class="none">Total Taken Leave</th>-->
<!--							  <th class="none">Remaining Leave</th>-->
<!--							  <th class="none">Reason for Rejection</th>-->
<!--							  <th class="none">Extension of Leave</th>-->
<!--							</tr>-->
<!--						  </thead>-->
<!--						  <tbody>-->
<!--						  {% for i in leave_form %}-->
<!--							<tr>-->
<!--								<td><button class="clickable btn btn-white btn-sm btn-rounded"><i class="fas fa-plus" id="test"></i></button></td>-->
<!--								<td>{{i.employee_name}}</td>-->
<!--								<td>{{i.date}}</td>-->
<!--								<td>{{i.leave_type.leave_name}}</td>-->
<!--								<td>{{i.application_date}}</td>-->
<!--								<td>{{i.from_date}}</td>-->
<!--								<td>{{i.till_date}}</td>-->
<!--								<td width="11%"><button class="btn btn-white btn-sm btn-rounded" value="1" ><i  class="fa fa-dot-circle" style="color: rgb(246, 45, 81);"></i> {{i.status}} </button></td>-->
<!--								<td>-->
<!--									{% if i.status == 'Withdraw' or i.status == 'Rejected'%}-->

<!--									<button class="btn btn-sm btn-rounded withdrow-color" type="submit" name="withdraw" value="{{i.id}}" disabled>Withdraw</button>-->
<!--									{% else %}-->
<!--									<button class="btn btn-sm btn-rounded withdrow-color" type="submit" name="withdraw" value="{{i.id}}">Withdraw</button>-->
<!--									{% endif %}-->
<!--								</td>-->
<!-- 								<td>{{i.total_taken_leave}}</td>-->
<!--								<td>{{i.remaining_leave}}</td>-->
<!--								<td>-->
<!--											 {{i.reject_reason}}-->
<!--&lt;!&ndash;											<form method="post">&ndash;&gt;-->
<!--&lt;!&ndash;												 {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;												 <div class="modal" id="rejectModal{{i.id}}">&ndash;&gt;-->
<!--&lt;!&ndash;													 <div class="modal-dialog">&ndash;&gt;-->
<!--&lt;!&ndash;														 <div class="modal-content">&ndash;&gt;-->
<!--&lt;!&ndash;															 <div class="modal-header">&ndash;&gt;-->
<!--&lt;!&ndash;																 <h1 class="modal-title">Reason for Leave Rejection</h1>&ndash;&gt;-->
<!--&lt;!&ndash;																 <button type="button" class="close" data-dismiss="modal">&ndash;&gt;-->
<!--&lt;!&ndash;																	 <span>&times;</span>&ndash;&gt;-->
<!--&lt;!&ndash;																 </button>&ndash;&gt;-->
<!--&lt;!&ndash;															 </div>&ndash;&gt;-->
<!--&lt;!&ndash;															 <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;																 &ndash;&gt;-->
<!--&lt;!&ndash;															 </div>&ndash;&gt;-->
<!--&lt;!&ndash;														 </div>&ndash;&gt;-->
<!--&lt;!&ndash;													 </div>&ndash;&gt;-->
<!--&lt;!&ndash;												 </div>&ndash;&gt;-->
<!--&lt;!&ndash;												<a href= "" data-toggle="modal" data-target="#rejectModal{{i.id}}" >view</a>&ndash;&gt;-->
<!--&lt;!&ndash;											</form>&ndash;&gt;-->
<!--								</td>-->
<!--								<td>-->
<!--									{% if i.status == 'pending'%}-->
<!--									<a href="{% url 'leave_management:extend_leave' i.id %}" class="btn btn-white btn-sm btn-rounded" >Extend</a>-->
<!--									{% elif i.status == 'Approved' %}-->
<!--									<a href="{% url 'leave_management:extend_approved_leave' i.id %}" class="btn btn-white btn-sm btn-rounded" >Extend</a>-->
<!--									{% endif %}-->
<!--								</td>-->
<!--							</tr>-->
<!--						  {% endfor %}-->
<!--						  </tbody>-->
<!--						</table>-->
<!--					</div>-->
<!--			  	</div>-->
<!--			  </div>-->

<!--		  </div>-->
<!--	  </div>-->

	{% if request.user.role == 'Employee' or request.user.role == 'employee' %}
	  <form method="post" id="leave_record" >
	       {% csrf_token %}
		<div class="row">
		  <div class="col-12">
             <div class="card card-outline card-primary">
              <div class="card-header py-2">
                <h3 class="card-title"> Leave Record</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
					<div class="tableFixHead expendtbl" >
			<!--	<button id="btn-show-all-doc">Expand / Collapse</button>-->
						<table  class="display nowrap expend-datatable" style="width:100%; font-size: 14px;">
						  <thead>
							<tr>
							  <th>Detail</th>
							  <th class="all">Leave Type</th>
							  <th class="all">Application Date</th>
							  <th class="all">From Date</th>
							  <th class="all">To Date</th>
							  <th class="all">Status</th>
							  <th class="all">Approved by</th>
							  <th class="none">Withdraw</th>
							  <th class="none">Extend</th>
							  <th class="none">View Detail</th>
							</tr>
						  </thead>
						  <tbody>
						  {% for i in leave_form %}

							<tr>
							  <td></td>
							  <td>{{i.leave_type.leave_name}}</td>
							  <td>{{i.application_date}}</td>
							  <td>{{i.from_date}}</td>
							  <td>{{i.till_date}}</td>
							  <td width="11%">
									 {% if i.status == 'Approved' %}
								  <span class="btn btn-sm not-click" value="1" ><i  class="fa fa-dot-circle" style="color: #55ce63;"></i> {{i.status}}</span>
								  	{% elif i.status == 'Rejected' %}
								  <span class="btn btn-sm not-click" value="1" ><i  class="fa fa-dot-circle" style="color: #f62d51;"></i> {{i.status}}</span>
								  {% elif i.status == 'pending' %}
								  <span class="btn btn-sm not-click" value="1" ><i  class="fa fa-dot-circle" style="color: #7460ee;"></i> {{i.status}}</span>
								  {% elif i.status == 'Withdraw' %}
								  <span class="btn  btn-sm  not-click" value="1" ><i  class="fa fa-dot-circle" style="color: #ffdc73;"></i> {{i.status}}</span>
								  {% endif %}

							  </td>
							  <td></td>
							  <td>
							  {% if i.status == 'Withdraw' or i.status == 'Rejected'  %}
									<button class="btn btn-sm btn-rounded withdrow-color" type="submit" name="withdraw" value="{{i.id}}" disabled>Withdraw</button>
									{% else %}
									<button class="btn btn-sm btn-rounded withdrow-color" type="submit" name="withdraw" value="{{i.id}}">Withdraw</button>
									{% endif %}

							  </td>
							  <td>
							  {% if i.status == 'pending'%}
									<a href="{% url 'leave_management:extend_leave' i.id %}" class="btn btn-white btn-sm btn-rounded" >Extend</a>
									{% elif i.status == 'Approved' %}
									<a href="{% url 'leave_management:extend_approved_leave' i.id %}" class="btn btn-white btn-sm btn-rounded" >Extend</a>
									{% endif %}
							  </td>
							  <td><a href="" class="btn btn-white btn-sm btn-rounded" >View</a></td>
							</tr>

						  {% endfor %}
						  </tbody>
						</table>
					</div>
			  	</div>
			  </div>

		  </div>
	    </div>
	  {% else %}
		<div class="row">
		  <div class="col-12">
             <div class="card card-outline card-primary">
              <div class="card-header py-2">
                <h3 class="card-title"> Leave Record</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
					<div class="tableFixHead expendtbl" >
			<!--	<button id="btn-show-all-doc">Expand / Collapse</button>-->
						<table  class="display nowrap expend-datatable" style="width:100%; font-size: 14px;">
						  <thead>
							<tr>
							  <th></th>
							  <th>Name</th>
							  <th class="all">Leave Type</th>
							  <th class="all">Application Date</th>
							  <th class="all">From Date</th>
							  <th class="all">To Date</th>
							  <th class="all">Status</th>
							  <th class="all">Approved by</th>
							  <th class="all">View Detail</th>
							</tr>
						  </thead>
						  <tbody>
						  {% for i in leave_form %}
							<tr>
							  <td></td>
							  <td><a href="profile.html">{{i.employee_name}}<span class="designation">Web Developer</span></a></td>
							  <td>{{i.leave_type.leave_name}}</td>
							  <td>{{i.application_date}}</td>
							  <td>{{i.from_date}}</td>
							  <td>{{i.till_date}}</td>
							  <td width="11%"><span class="btn btn-sm not-click" value="1" ><i  class="fa fa-dot-circle" style="color: #55ce63;"></i> {{i.status}}</span></td>
							  <td>Admin</td>
							  <td><a href="" class="btn btn-white btn-sm btn-rounded" >View</a></td>
							</tr>

						  {% endfor %}
						  </tbody>
						</table>
					</div>
			  	</div>
			  </div>

		  </div>
	  </div>
	  </form>
	{% endif %}
	</div>
</div>







 <form name="leaveType" id="leaveType" method="post" action=" " autocomplete="off">
    <div class="modal fade" id="addNewProductModalForm" tabindex="-1" role="dialog"
         aria-labelledby="addNewProductModalFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewProductModalFormLabel">Add Leave</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="border:1px solid #ccc; border-radius:5px;margin-left:10px;margin-bottom:10px;">
              <p style="background-color:#d8d8d8;padding:5px;"><b>Leave Type Information</b></p>
              <div class="form-group row" style="padding-left:20px; padding-right:20px;">
                <div class="col-sm-6">
                	{% csrf_token %}
					 <!-- Tab links -->
					<div class="tab">
					  <button type="button" class="tablinks" onclick="openCity(event, 'leave_type')">Leave Type</button>
					  <button type="button" class="tablinks" onclick="openCity(event, 'holiday')">Holiday</button>
					  <button type="button" class="tablinks" onclick="openCity(event, 'work_week')">Work Week</button>
					  <button type="button" class="tablinks" onclick="openCity(event, 'leave_policy')">Leave Policy</button>
					</div>

					<!-- Tab content -->
					<div id="leave_type" class="tabcontent">
					   <div class="form-group">
						 <div class="col-md-6 mb-3">
						  <label for="leave_name">Leave name</label>
						  <input type="text" class="form-control" name="leave_name" id="leave_name" placeholder="Enter Leave Name">
						 </div>
					   </div>

					  <div class="form-group">
						<div class="col-md-6 mb-3">
						 <label for="leave_rule">Leave Rule</label>
						 <input type="text" class="form-control" name="leave_rule" id="leave_rule" placeholder="leave Rule">
						</div>
					  </div>

					  <div class="form-group">
						<div class="col-md-6 mb-3">
						 <label for="leave_per_year">Leave per Year</label>
						 <input type="text" class="form-control" name="leave_per_year" id="leave_per_year" placeholder="Leave Per Year">
						</div>
					  </div>

					  <div class="form-group">
						<div class="col-md-6 mb-3">
						 <label for="leave_carried_forward">Leave Carried Forward</label>
						 <input type="text" class="form-control" name="leave_carried_forward" id="leave_carried_forward" placeholder="Leave Carried Forward">
						</div>
					  </div>
						<div>
							<input type="hidden" name="leave_type" id="leave_type" value="Leave type">
						</div>

					</div>


					<div id="holiday" class="tabcontent">
					   <div class="form-group">
						 <div class="col-md-6 mb-3">
						  <label for="holiday_name">Holiday Name</label>
						  <input type="text" class="form-control" name="holiday_name" id="holiday_name" placeholder="Enter Holiday">
						 </div>
					   </div>

					   <div class="form-group">
						 <div class="col-md-6 mb-3">
						  <label for="date">Date</label>
						  <input type="date" onload="getDate()" class="form-control" name="date" id="date" placeholder="Enter Date">
						 </div>
					   </div>

					   <div class="form-group">
						 <div class="col-md-6 mb-3">
						  <label for="country">Country</label>
						  <input type="text" class="form-control" name="holiday_country" id="country" placeholder="Enter Country">
						 </div>
					   </div>

						<div>
							<input type="hidden" name="holiday" id="holiday" value="Holiday">
						</div>
					</div>

					<div id="work_week" class="tabcontent">
						<div>
							<legend> Select your days </legend>
							<input id="mon" type="checkbox" name="checks[]" value="Monday">
							<label for="mon">Monday</label><br>
							<input id="tues" type="checkbox" name="checks[]" value="Tuesday">
							<label for="tues">Tuesday</label><br>
							<input id="wed" type="checkbox" name="checks[]" value="Wednesday">
							<label for="wed">Wednesday</label><br>
							<input id="thu" type="checkbox" name="checks[]" value="Thursday">
							<label for="thu">Thursday</label><br>
							<input id="fri" type="checkbox" name="checks[]" value="Friday">
							<label for="fri">Friday</label><br>
							<input id="sat" type="checkbox" name="checks[]" value="Saturday">
							<label for="sat">Saturday</label><br>
							<input id="sun" type="checkbox" name="checks[]" value="Sunday">
							<label for="sun">Sunday</label>
						</div><br>

					   <div class="form-group">
						 <div class="col-md-6 mb-3">
						  <label for="country">Country</label>
						  <input type="text" class="form-control" name="work_week_country" id="country" placeholder="Enter Country">
						 </div>
					   </div>

						<div>
							<input type="hidden" name="work_week" id="work_week" value="Work Week">
						</div>
					</div>
					<div id="leave_policy" class="tabcontent">
						<div class="form-group">
							<div class="col-md-12 mb-6">
							<legend> Define your policy </legend>
							<textarea class="leave_policy" id="leave_policy"  name="leave_policy" rows="3" cols="55"></textarea>
							</div>
						</div>
					</div>

				</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>





<script>
var table = $('.expend-datatable').DataTable({
  responsive: {
    details: {
      type: 'column'
    }
  },
  columnDefs: [{
    className: 'control',
    orderable: false,
    targets: 0
  }],
  order: [1, 'asc']
});

$('#btn-show-all-doc').on('click', expandCollapseAll);

function expandCollapseAll() {
  table.rows('.parent').nodes().to$().find('td:first-child').trigger('click').length ||
  table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click')
}
</script>

<!--For current date -->
<script>
var date = new Date();
var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day

document.getElementById('current_Date').value = today;

</script>


{% endblock %}